@import './templates.scss';

.footer-wrapper {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    background-color: #262626;
    @extend %centerTemplate;
    p {
        color: white;
    }
}