@import './reset.scss', './templates.scss';

.update-profile-info__wrapper {
    .saved-notifiaction {
        color: #52c41a;
        @extend %centerTemplate;
        flex-direction: column;
    }
    .upd-form {
        @extend %formTemplate;
        .form-item__label {
            margin-right: 10px;
        }
    }
}

.update-password__wrapper {
    .saved-notifiaction {
        color: #52c41a;
        @extend %centerTemplate;
        flex-direction: column;
    }
    .upd-form {
        @extend %formTemplate;
        .form-item__label {
            margin-right: 10px;
        }
    }
}

.delete-user__wrapper {
    .saved-notifiaction {
        color: #52c41a;
        @extend %centerTemplate;
        flex-direction: column;
    }
    .upd-header {
        display: flex;
        flex-direction: column;
    }
}

.delete-user__modal {
    .saved-notifiaction {
        color: #52c41a;
        @extend %centerTemplate;
        flex-direction: column;
    }
    .upd-form {
        @extend %formTemplate;
        .form-item__label {
            margin-right: 10px;
        }
    }
}